*{
    box-sizing: border-box;
}
html{
    background-color: rgb(31, 30, 30);

}
body{
  
 text-align: center;
}
p{
    color: gray;
    font-size: 18px;
    
}
h4{
    color: gray;
    font-size: 20px;
}
header{
    color: rgb(114, 198, 250);
}
h1{
    font-size: 50px;
}

.buttons{
    margin-top: 70px;
    margin-bottom: -30px;
}
.action{
    width: 210px;
    height: 70px;
    font-size: 18px;
    margin: 10px;
    text-transform: uppercase;
    color:rgba(255, 255, 255, 0.719);
    background-color: rgba(35, 113, 231, 0.349);
    
    border: none;

}
.action:hover{
    background-color:rgba(114, 198, 250, 0.527); 
    cursor: pointer;
}

img{
   padding: 50px;
   
    
    
}
.gameboard{
    padding: 10%;
    
}
.card{
    border: 3px solid rgb(77, 144, 185);
    width: 250px; 
    height: 250px;
    margin: 10px;
    display: inline-flex;
    justify-content: center;

 
}
.card:hover{
    background-color:rgba(114, 198, 250, 0.13)
}