*{
    box-sizing: border-box;
}
html{
    background-color: rgb(31, 30, 30);

}
body{
    margin: 0px;
    text-align: center;
     
}
p{
    color: gray;
}
h4{
    color: gray;
}
header{
    color: rgb(114, 198, 250);
}

.buttons{
    
    text-align: center;
}
.action{
    width: 140px;
    height: 50px;
    font-size: 15px;
    margin: 10px;

}

img{
   padding: 50px;
   
    
    
}
.card{
    border: 3px solid rgb(77, 144, 185);
    width: 250px; 
    height: 250px;
    margin: 10px;
    display: inline-flex;
    justify-content: center;

 
}